<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans.xsd
			    http://www.springframework.org/schema/security
			    http://www.springframework.org/schema/security/spring-security.xsd">
	
	<http pattern="/**/*.js" security="none" />
	<http pattern="/**/*.css" security="none" />
	<http pattern="/images/*" security="none" />
	
	<http	auto-config="true"
		use-expressions="true"
		security-context-repository-ref="customSecurityContextRepository"
		entry-point-ref="customAuthenticationEntryPoint"
	>
		<request-cache ref="nullRequestCache"/>
		<intercept-url pattern="/**" requires-channel="https"/>
		<port-mappings>
			<port-mapping http="8090" https="8443"/>
		</port-mappings>
		<logout delete-cookies="JSESSIONID"
			success-handler-ref="customLogoutHandler"/>
		<form-login
			username-parameter="loginid"
			password-parameter="loginpwd"
			login-page="/login"
			login-processing-url="/login_check"
			authentication-success-handler-ref="customAuthenticationSuccessHandler"
			authentication-failure-handler-ref="customAuthenticationFailureHandler"
		/>
		<anonymous granted-authority="ANONYMOUS"/>
		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="filterSecurityInterceptor"/>
		<access-denied-handler ref="accessDenied"/>
	</http>
	
	<authentication-manager>
		 <authentication-provider user-service-ref="loginService">
		 	<password-encoder ref="bcryptPasswordEncoder"/>
		 </authentication-provider>
	</authentication-manager>
	
	<beans:bean id="accessDecisionManager" class="com.suph.security.CustomAffirmativeBased">
		<beans:constructor-arg>
			<beans:list>
				<beans:bean class="com.suph.security.CustomRoleVoter">
					<beans:property name="rolePrefix" value=""/>
				</beans:bean>
			</beans:list>
		</beans:constructor-arg>
		
		<beans:property name="allowIfAllAbstainDecisions" value="false"/>
	</beans:bean>
	
	<beans:bean id="customSecurityContextRepository" class="com.suph.security.CustomSecurityContextRepository"/>
	
	<beans:bean id="customAuthenticationEntryPoint" class="com.suph.security.CustomAuthenticationEntryPoint">
		<beans:property name="loginredirectname" value="loginRedirect"/>
		<beans:property name="loginFormPath" value="/login"/>
	</beans:bean>
	
	<beans:bean id="nullRequestCache" class="org.springframework.security.web.savedrequest.NullRequestCache"/>
	
	<beans:bean id="customLogoutHandler" class="com.suph.security.CustomLogoutSuccessHandler"/>
	
	<beans:bean id="accessDenied" class="com.suph.security.CustomAccessDeniedHandler">
		<beans:property name="errorPage" value="/access_denied"/>
	</beans:bean>
	
	<beans:bean id="customAuthenticationSuccessHandler" class="com.suph.security.CustomAuthenticationSuccessHandler">
		<beans:property name="targetUrlParameter" value="loginRedirect"/>
		<beans:property name="defaultUrl" value="/main"/>
		<beans:property name="useReferer" value="false"/>
	</beans:bean>
	
	<beans:bean id="customAuthenticationFailureHandler" class="com.suph.security.CustomAuthenticationFailureHandler">
		<beans:property name="loginidname" value="loginid"/>
		<beans:property name="loginpasswdname" value="loginpw"/>
		<beans:property name="exceptionmsgname" value="securityexceptionmsg"/>
		<beans:property name="defaultFailureUrl" value="/login"/>
	</beans:bean>
	
	<beans:bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="org.springframework.security.authenticationManager"/>
		<beans:property name="securityMetadataSource" ref="reloadableFilterInvocationSecurityMetadataSource"/>
		<beans:property name="accessDecisionManager" ref="accessDecisionManager"/>
	</beans:bean>
	
	<beans:bean id="loginService" class="com.suph.security.LoginServiceImpl"/>
	<beans:bean id="bcryptPasswordEncoder" class="com.suph.security.CustomBCryptPasswordEncoder"/>
	
	<beans:bean id="securedObjectService" class="com.suph.security.SecuredObjectServiceImpl">
		<beans:property name="securedObjectDAO" ref="securedObjectDAO"/>
	</beans:bean>
	
	<beans:bean id="requestMap" class="com.suph.security.UrlResourcesMapFactoryBean" init-method="init">
		<beans:property name="securedObjectService" ref="securedObjectService"/>
	</beans:bean>
	
	<beans:bean id="reloadableFilterInvocationSecurityMetadataSource" class="com.suph.security.ReloadableFilterInvocationSecurityMetadataSource">
		<beans:constructor-arg ref="requestMap"/>
		<beans:property name="securedObjectService" ref="securedObjectService"/>
	</beans:bean>
</beans:beans>

