<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans.xsd
			    http://www.springframework.org/schema/security
			    http://www.springframework.org/schema/security/spring-security.xsd">
	
	
	<!-- Root Web Application Context 영역에 있는 bean만 사용할 수 있습니다. -->
	
	<!-- 확장자를 이용해 패턴을 걸때는 /**/*.해당 확장자 로 할 것(Ant Pattern 규칙) -->
	<!-- 확장자가 .js인 것은 spring-security를 걸지 않는다는 설정 -->
	<http pattern="/resources/**" security="none" />
	
	
	
	<!--====================================== 로그인 관련 설정들 =====================================-->
	<!-- ExceptionTranslationFilter는 사용자가 인증이 필요한 경로에 접근할 경우, HttpSessionRequestCache에 요청된 경로를 저장하고, -->
	<!-- AuthenticaitonEntryPoint를 통해 로그인 폼으로 리디렉트 시킵니다. -->
	<beans:bean id="customAuthenticationEntryPoint" class="com.suph.security.web.CustomAuthenticationEntryPoint">
		<!-- 인증 성공시 이동시킬 경로를 저장할 파라미터명 지정합니다. HttpSessionRequestCache를 이용하는대신 URL을 통해 값을 전달하는 방법입니다. -->
		<beans:property name="loginredirectname" value="loginRedirect"/>
		
		<!-- 리디렉트 시킬 로그인 폼 요청 경로 지정 -->
		<beans:property name="loginFormPath" value="/login/edit"/>
	</beans:bean>
	
	<!-- 따라서 RequestCache를 커스터마이징 하여 Session에 요청 경로를 저장하는 코드를 제거합니다. -->
	<beans:bean id="nullRequestCache" class="org.springframework.security.web.savedrequest.NullRequestCache"/>
	
	<beans:bean id="customAuthenticationSuccessHandler" class="com.suph.security.web.authentication.CustomAuthenticationSuccessHandler">
		<beans:property name="targetUrlParameter" value="loginRedirect"/>	<!-- 인증 성공했을때, 로그인 요청에 해당 파라미터가 있으면 읽어들여 이동 -->
		<beans:property name="defaultUrl" value="/main"/>	<!-- REFERER도, 파라미터도 없을때 이동할 페이지 -->
		<beans:property name="useReferer" value="false"/>	<!-- 기본값 false -->
	</beans:bean>
	
	<beans:bean id="customAuthenticationFailureHandler" class="com.suph.security.web.authentication.CustomAuthenticationFailureHandler">
		<beans:property name="loginidname" value="loginid"/>
		<beans:property name="loginpasswdname" value="loginpw"/>
		<!-- <beans:property name="loginredirectname" value="loginRedirect"/> -->
		<beans:property name="exceptionmsgname" value="securityexceptionmsg"/>
		<beans:property name="defaultFailureUrl" value="/login/edit"/>	<!-- 로그인 실패시 보여줄 로그인 페이지 폼 -->
	</beans:bean>

	<beans:bean id="customSecurityContextRepository" class="com.suph.security.web.context.CustomSecurityContextRepository"/>
	<beans:bean id="customLogoutHandler" class="com.suph.security.web.authentication.logout.CustomLogoutSuccessHandler"/>
	
	<beans:bean id="accessDenied" class="com.suph.security.web.access.CustomAccessDeniedHandler">
		<beans:property name="errorPage" value="/access-denied"/>
	</beans:bean>
	
	<beans:bean id="tokenRepository" class="com.suph.security.web.csrf.CustomCookieCsrfTokenRepository" />
	<!-- <beans:bean id="tokenRepository" class="org.springframework.security.web.csrf.CookieCsrfTokenRepository" /> -->
	<!-- <beans:bean id="tokenRepository" class="com.suph.security.CustomHttpSessionCsrfTokenRepository" /> -->
	
	<!-- use-expressions: true값을 줄 경우 intercept-url의 access속성에서 몇가지 표현식 사용이 가능해진다. -->
	<!-- security-context-repository-ref: 로그인 성공 시(인증 성공 시) SecurityContext생성 전략을 구현한 클래스 지정. 여기선 쿠키에서 특정 값을 읽어와 메모리에 저장하도록 구현했다. -->
	<!-- entry-point-ref: 인증이 필요한 페이지에 접근시 특정 필터에서 예외가 발생하고, 그 예외를 받은 ExceptionTranslationFilter는 -->
	<!-- 			AuthenticationEntryPoint에게 보여줄 로그인 폼 위치를 묻습니다. -->
	<!-- request-cache: ExceptionTranslationFilter가 요청이 온 경로를 어떻게 저장할지 HttpSessionRequestCache에 묻습니다. -->
	<!-- 			따라서 RequestCache를 덮어씌워 Session 저장 코드를 제거하도록 합니다. -->
	<http	auto-config="true"
		use-expressions="true"
		security-context-repository-ref="customSecurityContextRepository"
		entry-point-ref="customAuthenticationEntryPoint"
		create-session="never"
	>
		<!-- 세션고정공격 방어를 위해, 로그인시 JSESSIONID 변경 -->
		<session-management session-fixation-protection="changeSessionId">
		</session-management>
		
		<!-- CSRF 방어 필터 추가. 단 필터만 선언하지 말고, 요청/응답 페이지 내에서도 해당 토큰을 주었다 받았다 해주어야 함 -->
		<!-- Ajax, Multipart Form, GET 각각의 토큰 포함 방식이 다름에 주의 -->
		<!-- 적절한 HTTP동사를 함께 사용할때 효과가 극대화 됨을 명심 -->
		<!-- <csrf token-repository-ref="tokenRepository" /> -->
		<!-- Spring Security 4.X 부터 명시적으로 disabled을 써주지 않는 한 자동 활성화 됨에 주의 -->
		<csrf disabled="true"/>	<!-- 잠시 비활성화. -->
		
	<!--
		auto-config를 사용함으로써 아래의  http 내부 태그들이 기본값으로 설정되었다.
		어디까지나 예제라서 기본값을 쓰는거지, 우리 현실에 맞는 방식은 아님을 명심하자.
		<form-login />
  		<http-basic />
  		<logout>
	-->
		<!-- intercept-url에 스프링 시큐리티를 적용합니다. 언제나 순서에 주의하자. 구체적인 URL패턴을 상위에 두고, 포괄적인 URL패턴을 아래에 두어야 한다 -->
		<!--	다만 저 아래쪽에서 FilterSecurityInterceptor이전에 커스텀한 권한 검사 필터를 사용하고 있으므로, 이 오리지날 FilterSecurityInterceptor는
			그냥 통과 할 수 있도록 <intercept-url>부를 지워주도록 하자.
		-->
		<!-- <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" /> -->
		<!-- <intercept-url pattern="/login/edit" access="isAnonymous()" /> -->
		<!-- <intercept-url pattern="/main" access="permitAll" /> -->
		<!-- <intercept-url pattern="/**" access="permitAll" /> -->
		
		<!-- https 사용시 다음의 코드로 모든 http 접근을 https로 리디렉트 하십시오.  -->
		<intercept-url pattern="/**" requires-channel="https"/>
		<port-mappings>
			<port-mapping http="8080" https="8443"/>
		</port-mappings>
		
		<!-- https 사용시 web.xml에 다음의 구문을 커넥터를 추가하십시오. -->
		<!-- 사전에 keystore 파일을 생성하고 인증기관에 등록해 두셔야 합니다. localhost 사용시엔 찾아보고 하십시오. -->
		<!-- 
		<Connector
			port="8443"
			protocol="org.apache.coyote.http11.Http11NioProtocol"
			SSLEnabled="true"
			clientAuth="false"
			maxThreads="150"
			keystoreFile="C:\Users\NB-0267\testserver"
			keystorePass="testpassword"
			scheme="https"
			secure="true"
			sslProtocol="TLS"
		/>
		-->
		
		<!-- logout-success-url: 로그아웃 버튼 클릭시 이동할 페이지 지정. 기본 로그아웃 요청 경로는 ./j_spring_security_check -->
		<!-- delete-cookies: 로그아웃을 진행하면서 지워야 할 쿠키 지정. 콤마를 구분자로 하여 여러개의 쿠키 이름을 지정 가능. JSESSIONID는 세션 구분할때 쓰는 그거 맞다 -->
		<!-- success-handler-ref: 로그아웃 성공시 처리할 동작을 정의한 핸들러. 여기선 특정 쿠키를 제거하도록 구현했다. -->
		<!-- logout-success-url과 success-handler-ref를 함께 쓸 수 없음에 주의 -->
		<!-- <logout logout-success-url="/main" delete-cookies="JSESSIONID" -->
		<logout delete-cookies="JSESSIONID"
			success-handler-ref="customLogoutHandler"/>
		
		<!-- username-parameter: 기본 name 속성 값인 j_username을 교체 -->
		<!-- password-parameter: 기본 name 속성 값인 j_password를 교체-->
		<!-- login-page: 로그인 화면 URL 지정. 인증을 받지 않은 상태에서 권한이 필요한 화면에 접근할 경우 보여줄 경로 -->
		<!-- login-processing-url: 로그인 처리를 할 경로명 지정. 기본값은 /j_spring_security_check -->
		<!-- default-target-url: login-page외의 접근에서 로그인 인증을 성공하면 보여줄 페이지 지정. authentication-success-handler-ref와 failure핸들러를 임의지정시 사용 불가한 속성 -->
		<!-- always-use-default-target: 이 속성을 true로 주면 login-page로의 접근에서도 default-target-url을 보여주게 된다 -->
		<!-- authentication-failure-url: 인증에 실패했을 경우 보여줄 URL 지정. 여기선 실패할 경우 다시 로그인 화면을 보여주게끔 설정 -->
		<!-- authentication-success-handler-ref: 로그인 성공시 처리할 동작이 정의된 클래스 -->
		<!-- authentication-failure-handler-ref: 로그인 실패시 처리할 동작이 정의된 클래스. 처리내용이 authentication-failure-url과 겹치지 않게 주의 -->
		<!-- failure-handler미 정의시 기본적으로 org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler 사용 -->
		<!-- 
		<form-login
			username-parameter="loginid"
			password-parameter="loginpwd"
			login-page="/login/edit"
			default-target-url="/main"
		/>
		-->
		<form-login
			username-parameter="loginid"
			password-parameter="loginpwd"
			login-page="/login/edit"
			login-processing-url="/login_check"
			authentication-success-handler-ref="customAuthenticationSuccessHandler"
			authentication-failure-handler-ref="customAuthenticationFailureHandler"
		/>
		
		<!-- logout-url: 로그아웃 처리를 요청할 때 사용할 URL. 스프링 시큐리티 4.x의 디폴트는 /logout  ,  3.x의 디폴트는 j_spring_security_logout -->
		<!-- invalidate-session: 세션 삭제 여부 -->
		<!-- logout-success-url: 로그아웃 성공시 이동할 URL -->
		<!-- success-handler-ref: 로그아웃 성공시 호출될 핸들러 -->
		<!-- delete-cookies: 삭제할 쿠키 이름 지정시 쿠키 삭제 -->
		<!-- 주의사항: CsrfFilter 사용시 LogoutFilter가 HTTP POST만 받도록 업데이트 된다. 반드시 POST로 요청하자 -->
		<logout logout-url="/logout" invalidate-session="true" logout-success-url="/main" />
		
		<!-- 미로그인 유저를 지칭할 권한명 지정. 기본값은 ROLE_ANONYMOUS. 리소스 접근에 필요한 권한명과 다를 경우 -->
		<!-- 메인페이지접근 > 권한명 달라서 거부 > 거부페이지접근 > 거부페이지조차 권한명 달라서 거부 > 다시 거부페이지 접근 > 역시 거부 > 무한반복 -->
		<!-- 과 같은 과정이 일어나니 주의해서 설정하자 -->
		<anonymous granted-authority="ROLE_ANONYMOUS"/>
		
		
		
		<!--
			SecurityContextPersistenceFilter, ExceptionTranslationFilter, FilterSecurityInterceptor는
			<http>태그 사용시 자동으로 생성되기에, <custom-filter>의 position에서 동일한 alias를 사용할 수 없다.
		-->
		<!-- 	또한 <custom-filter position=""> 사용시엔 중복되는 객체가 생성되지 않도록 태그 사용에 주의해야한다.
			예를 들어 UsernamePasswordAuthenticationFilter를 <custom-filter>에 지정했을 경우
			다른곳에 <form-login>태그를 사용해선 안된다.
		-->
		<custom-filter position="CSRF_FILTER" ref="customCsrfFilter"/>
		<custom-filter after="LOGOUT_FILTER" ref="tooLongLoginBlockFilter" />
		<custom-filter before="ANONYMOUS_FILTER" ref="blockMemberFilter"/>
		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="filterSecurityInterceptor"/>
		
		
		<!-- 특정 URL에 권한이 없는 사람이 접근할 경우, 보여줄 페이지 지정 -->
		<access-denied-handler ref="accessDenied"/>
	</http>
	
	<beans:bean id="customCsrfFilter" class="com.suph.security.web.csrf.CustomCsrfFilter">
		<beans:constructor-arg ref="tokenRepository" />
		<beans:property name="accessDeniedHandler" ref="accessDenied"/>
	</beans:bean>
	
	<!-- 너무 오랜시간 로그인한 유저를 재로그인 페이지로 유도하는 필터 -->
	<beans:bean id="tooLongLoginBlockFilter" class="com.suph.security.web.toolonglogin.TooLongLoginBlockFilter">
		<beans:property name="tooLongLoginBlockHandler" ref="tooLongLoginBlockHandler" />
	</beans:bean>
	
	<beans:bean id="tooLongLoginBlockHandler" class="com.suph.security.web.toolonglogin.SimpleTooLongLoginBlockHandler">
		<beans:property name="loginidname" value="loginid"/>
		<beans:property name="exceptionmsgname" value="securityexceptionmsg"/>
		<beans:property name="defaultFailureUrl" value="/login/edit"/>
	</beans:bean>
	
	<!-- 차단 계정의 접근을 차단하는 필터 -->
	<beans:bean id="blockMemberFilter" class="com.suph.security.web.blockmember.BlockMemberFilter">
		<beans:property name="blockMemberHandler" ref="blockMemberHandler" />
	</beans:bean>
	
	<beans:bean id="blockMemberHandler" class="com.suph.security.web.blockmember.SimpleBlockMemberHandler">
		<beans:property name="loginidname" value="loginid" />
		<beans:property name="exceptionmsgname" value="securityexceptionmsg" />
		<beans:property name="blockinfoname" value="blockinfo" />
		<beans:property name="defaultFailureUrl" value="/block-info" />
	</beans:bean>
	
	<!--====================================== 권한 필터(권한을 총괄하는 필터) - 인증 정보/ 권한 정보/ 판단 주체로 구성 ======================================-->
	<!-- org.springframework.security.web.access.intercept.FilterSecurityInterceptor에서 관장 -->
	<beans:bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="org.springframework.security.authenticationManager"/>
		<beans:property name="securityMetadataSource" ref="reloadableFilterInvocationSecurityMetadataSource"/>
		<beans:property name="accessDecisionManager" ref="accessDecisionManager"/>
	</beans:bean>
	
	
	<!--====================================== 인증 정보(접근하려는 자가 가지고 있는 권한) ======================================-->
	<!-- org.springframework.security.web.access.intercept.FilterSecurityInterceptor에서 인증 정보로 사용될 객체 -->
	<!-- 	org.springsecurity.security.authentication.ProviderManager: <authentication-manager> 태그 사용시 생성 -->
	<!-- 		ProviderManager는 생성자로 List<AuthenticationProvider> 를 받는다 -->
	<!-- 			해당 리스트에 넣을 요소들은 <authentication-provider> 태그를 여러번 써서 생성 가능 -->
	<!-- 			<authentication-provider> 대상 객체 미지정시 기본값은  org.springframework.security.authentication.dao.DaoAuthenticationProvider 사용 -->
	<!-- 				DaoAuthenticationProvider에 사용자 정보를 조회하는 서비스 객체 등록 -->
	<!-- 
	<beans:bean id="customJdbcDaoImpl" class="com.suph.security.CustomJdbcDaoImpl">
		<beans:property name="dataSource" ref="basicDataSource"/>
		<beans:property name="rolePrefix" value=""/>
		<beans:property name="usersByUsernameQuery" value="SELECT MEM_NO, MEM_ID, MEM_PASSWORD, MEM_NICKNAME FROM TB_MEMBER WHERE MEM_NO=?"/>
		<beans:property name="authoritiesByUsernameQuery" value="SELECT AUTH_NM FROM TB_MEMBER_AUTH WHERE MEM_NO=?"/>
		<beans:property name="enableGroups" value="false"/>
	</beans:bean>
	 -->
	 
	<!-- <beans:bean id="memberAuthService" class="com.suph.security.core.impl.MemberAuthServiceImpl" /> -->
	<!--  
	<beans:bean id="memberService" class="com.suph.security.core.impl.MemberServiceImpl">
		<beans:property name="memberAuthService" ref="memberAuthService" />
	</beans:bean>
	-->
	<!-- <beans:bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/> -->
	<beans:bean id="bcryptPasswordEncoder" class="com.suph.security.crypto.bcrypt.CustomBCryptPasswordEncoder"/>
	
	<authentication-manager>	<!-- 인증 관련 정보 -->
		<!-- <authentication-provider>: AuthenticationManager 인터페이스를 구현한 ProviderManager가 리스트로 가지는 -->
		<!-- 				AuthenticationProvider 인터페이스의 구현객체인 DaoAuthenticationProvider 생성 태그. -->
		<!-- 				참고로 DaoAuthenticationProvider는 내부적으로 UserDetailsService를 이용해 사용자 정보를 읽어온다. -->
		<!-- 				여기선 LoginServiceImpl이 UserDetailsService를 구현하여 그 역할을 수행한다. -->
		<!-- 
		<authentication-provider>	정보 제공자 지정
			<user-service>	사용자 정보 설정
				name 속성은 pk값이다. getUsername() 호출
				<user name="user1" password="user1password" authorities="ROLE_USER" />
				<user name="admin1" password="admin1password" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
		-->
		 
		<!-- base64: true로 세팅하면 암호화 후 base64로 인코딩 하는 것으로 추측 -->
		<!-- password-encoder hash:사용할 알고리즘 지정. {sha}, {ssha}, bcrypt, md4, md5, plaintext, sha-256, sha 중 택 1 -->
		<!-- hash="bcrypt" 라고 적을 경우, 스프링은 PasswordEncoder를 구현한 객체중 BCryptPasswordEncoder를 내부에 생성한다. -->
		<!-- 다만 이럴 경우, 외부에서 해당 클래스를 참조할 방법이 없으므로 따로 선언해서 주입해주도록 합니다. -->
		<authentication-provider user-service-ref="memberService">	<!-- @Service("memberService") -->
			<!-- <password-encoder hash="bcrypt"/> -->
			<password-encoder ref="bcryptPasswordEncoder"/>
		</authentication-provider>
	</authentication-manager>
	
	
	
	<!--====================================== 대상 정보(대상 접근에 필요한 권한) ======================================-->
	<!-- org.springframework.security.web.access.intercept.FilterSecurityInterceptor에서 대상 정보로 사용될 객체 -->
	<!-- 	org.springframework.security.web.access.intercept.FilterInvocationSecurityMetadataSource를 구현한 -->
	<!-- 		org.springframework.security.web.access.expression.DefaultFilterInvocationSecurityMetadataSource를 상속하는 -->
	<!-- 			org.springframework.security.web.access.expression.ExpressionBasedFilterInvocationSecurityMetadataSource 객체가 처리 -->
	<!-- 				저 객체는 부모인 DefaultFilterInvocationSecurityMetadataSource의 멤버변수인 Map<RequestMatcher, Collection<ConfigAttrivute>> requestMap 변수에 -->
	<!-- 				<intercept-url> 태그에서 정의한 대로, patter값을 key로, access값을 value로 매칭하여 LinkedHashMap<RequestMatcher, Collection<ConfigAttribute>> 저장함. -->
	<!--	 				저 태그에서 pattern을 ANT 패턴으로 정의했기에 key값인 RequestMatcher엔 AntPathRequestMatcher 저장 -->
	<!-- 					value값인 Collection<ConfigAttribute>엔 org.springframework.security.web.access.expression.WebExpressionConfigAttribute 가 담긴 ArrayList를 저장 -->
	<!-- 						WebExpressionConfigAttribute들 각각에 access값이(ex:hasRole("ADMIN")) 들어감 -->
	<!-- 결과적으로 <intercept-url>값이 DefaultFilterInvocationSecurityMetadataSource의 멤버변수인 requestMap에 LinkedHashMap<AntPathRequestMatcher, ArrayList<WebExpressionConfigAttribute>> 형식으로 저장됨 -->
	
	<!-- <bean class="">속성에 인터페이스를 지정해선 안된다. -->
	<!-- <beans:bean id="securedObjectDAO" class="com.suph.security.SecuredObjectDAO"/> -->
	<!-- 
	<beans:bean id="resourceAuthService" class="com.suph.security.core.impl.ResourceAuthServiceImpl">
		<beans:property name="resourceAuthDAO" ref="resourceAuthDAO"/>
	</beans:bean>
	-->
	<!-- URL별 권한 정보를 반환할 팩토리 빈 객체 --> 
	<beans:bean id="requestMap" class="com.suph.security.factory.UrlResourcesMapFactoryBean" init-method="init" />
	<!-- 	<beans:property name="resourceAuthService" ref="resourceAuthService"/>	어노테이션 주입으로 대체
	</beans:bean>
	 -->
	<!-- URL별 권한 정보를 메모리에 올려두고 관리하다가, 요청시 갱신 작업을 수행하는 객체 -->
	<!-- FilterSecurityInterceptor에서 리소스에 대한 보안 설정(Configattribute) 정보를 확인하는데 사용된다. -->
	<beans:bean id="reloadableFilterInvocationSecurityMetadataSource" class="com.suph.security.web.access.intercept.ReloadableFilterInvocationSecurityMetadataSource">
		<beans:constructor-arg ref="requestMap"/>
		<!-- <beans:property name="resourceAuthService" ref="resourceAuthService"/> -->	<!-- 어노테이션 주입으로 대체 -->
	</beans:bean>
	
	
	
	<!--====================================== 판단 주체(허가하질 말지 판단) ======================================-->
	<!-- org.springframework.security.web.access.intercept.FilterSecurityInterceptor에서 판단 주체로 사용할 객체 -->
	<!-- 	기본적으로 org.springframework.security.access.vote.AbstractAccessDecisionManager를 상속하는 다음 세개의 클래스를 사용할 수 있음. -->
	<!--		AffirmativeBased: voter중 하나라도 승인하면 접근 허가 -->
	<!-- 		UnanimousBased: 모든 voter가 만장일치로 승인해야 접근 허가 -->
	<!-- 		ConsensusBased: voter들의 의견을 다수결로 판단함 -->
	<!-- 	이중에 원하는 방식이 없을 경우 AbstractAccessDecisionManager를 상속하여 직접 구현 가능 -->
	<!-- FilterSecurityInterceptor에서 이전 필터들에 의해 Securitycontext에 저장된 Authentication(현재 사용자의 정보)과 -->
	<!-- FilterInvocationMetadataSource를 통해 알아낸 리소스의 보안 설정 정보를 이 AccessDecisionManager에게 보내면서 통과시킬지 말지 물어본다. -->
	<!-- 
	<beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
		<beans:constructor-arg>
			<beans:list>
				가진 권한과 필요한 권한에 따른 판단
				<beans:bean class="org.springframework.security.access.vote.RoleVoter">
					<beans:property name="rolePrefix" value=""/>
				</beans:bean>
				
				로그인 방식/여부에 따른 판단
				기본값은 로그인했던, 자동로그인 했던, 미로그인했던 몽땅 승인(통과)
				<beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
				
				이건 어떤 방식으로 판단하는 voter일까?
				<beans:bean class="org.springframework.security.web.access.expression.WebExpressionVoter"/>
			</beans:list>
		</beans:constructor-arg>
	</beans:bean>
	 -->
	<!-- <beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased"> -->
	<beans:bean id="accessDecisionManager" class="com.suph.security.web.access.vote.CustomAffirmativeBased">
		<beans:constructor-arg>
			<beans:list>
				<!-- <beans:bean class="org.springframework.security.access.vote.RoleVoter"> -->
				<beans:bean class="com.suph.security.web.access.vote.CustomRoleVoter">
					<beans:property name="rolePrefix" value=""/>
				</beans:bean>
			</beans:list>
		</beans:constructor-arg>
		
		<!-- 모두가 기권(판단 보류) 결정을 내리면 접근을 허가하겠습니까? 아니요. 스프링 시큐리티 3.2.4 지원 , 스프링 시큐리티 4.2.4미지원 -->
		<!-- <beans:property name="allowIfAllAbstainDecisions" value="false"/> -->
	</beans:bean>
</beans:beans>

