@CHARSET "UTF-8";

#contents{
	margin: 0 auto;
	width: 1280px;
}

#box{
	float: left;
	width: 900px;
}


#box .title{
	background-color: #04BCD4;
	text-align: center;
	border-radius: 8px;
	padding: 5px;
	margin-bottom: 10px;
}

#box .title .title_font{
	color: white;
	font-size: 1.4em;
	font-weight: bold;
}

#box .search_box{
	
}

#box .search_box .datetime{
	float: left;
}

#box .search_box #search_button_box{
	float: right;
}

#box #data_block_member{
	box-sizing: border-box;
}

#blockMemberFormTable{
	width: 100%;
	border: 1px dashed #0be1dc;
}

#blockMemberFormTable table{
	width: 100%;
	border: 1px dashed #0be1dc;
}

#blockMemberFormTable tr{
	background-color: #e9e9e9;
}

#blockMemberFormTable tr th{
	width: 15%;
	height: 40px;
}

#blockMemberFormTable tr td{
	width: 85%;
	height: 40px;
}

#blockMemberFormTable tr td input{
	width: 100%;
	height: 100%;
	padding-left: 10px;
	box-sizing: border-box;
}

#blockMemberFormTable tr td #memInfo{
	width: 70%;
	float: left;
}
/* 
#blockMemberFormTable tr td #memNo{
	
}
 */
#blockMemberFormTable tr td #popupSearchMemNoButton{
	width: 30%;
	height: 100%;
}

#blockMemberFormTable tr td select{
	width: 100%;
	height: 100%;
	padding-left: 10px;
	box-sizing: border-box;
}
