<?xml version="1.0" encoding="UTF-8"?>
<web-app
	version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
>
<!--
	xmlns=A	// 기본 네임스페이스에 A를 지정하겠다. (A 속 태그는 별도의 접두사 없이 사용 가능)
	xmlns:xsi=C	// C를 xsi라는 네임스페이스에 지정하겠다.
	xsi:schemaLocation=A	B	// 네임스페이스 A속 태그는 B에 정의되어 있다. B는 C에서 정의한 포맷에 맞추어 작성했다. (이때 B를 XML Schema라 부른다)

-->
	<!-- HTTP Method중 TRACE, OPTIONS는 사용중지 -->
 	<security-constraint>
 		<display-name>Forbidden</display-name>
 		
 		<web-resource-collection>
 			<!-- 모든 요청경로에 대해 HTTP 메서드(TRACE, OPTIONS) 제약 -->
 			<web-resource-name>Http Method Contraint</web-resource-name>
 			<url-pattern>/*</url-pattern>
 			<http-method>TRACE</http-method>
 			<http-method>OPTIONS</http-method>
 		</web-resource-collection>
 		
 		<!-- <auth-constraint> -->
	 		<!-- 위 /*라는 경로에 지정한 TRACE, OPTIONS로 접근할 수 있는 권한(<role-name>)은 없다. 즉, 접근을 금지한다. -->
 			<!-- <role-name></role-name> -->
 		<!-- </auth-constraint> -->
 		<auth-constraint/>
 	</security-constraint>
 	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/spring-security.xml
			/WEB-INF/spring/root-context.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<session-config>
		<cookie-config>
			<http-only>true</http-only>	<!-- 쿠키호출 자바스크립트에 미응답 합니다. -->
			<secure>true</secure>	<!-- 쿠키는 HTTPS통신으로만 전송됩니다. -->
		</cookie-config>
		
		<!-- Disables URL based sessions (no more 'jsessionid' in the URL using Tomcat) -->
		<!-- JSTL의 c:url 태그 사용시, 요청자의 쿠키에 JSESSIONID가 없는 경우 url에 세션아이디를 붙여주게 됩니다. -->
		<!-- {pageContext.request.contextPath}를 사용하는게 깔끔하지만, 이번엔 쿠키만 사용하도록 제한하는 방법을 써보겠습니다. -->
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	
	<!-- 클라이언트로부터 오는 리퀘스트 파라미터를 UTF-8로 처리하는 '필터' -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<!-- url-pattern : 해당 애플리케이션 내에서 필터를 적용시키고자 하는 범위. -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- html확장자에 대해 DispatcherServlet으로 보내지 않고, 파일 경로로 인식하여 곧바로 반환한다. -->
	<!-- 서블릿의 이 코드는 스프링의 <mvc:resources mapping="/resources/**" location="/rest-web/"> 으로 변경 가능하다. -->
	<!-- webapp/rest-web/ 안에 있는 file들을 URL: http://localhost/resources/에 mapping 시켜주는 것이다. -->
	<!-- 
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	-->
	
	<filter>
		<!-- 스프링 시큐리티에서 따로 setTargetBeanName(String)을 호출하지 않을 경우
		 기본값으로 filter-name명으로 filter-class를 찾기 때문에, filter-name에 꼭 저 이름을 주어야 합니다.
		 스프링의 inner bean으로 생성되기에 springSecurityFilterChain을 따로 생성할 필요는 없습니다.
		-->
		<filter-name>springSecurityFilterChain</filter-name>
		
		<!-- org.springframework.web.filter에 있는 딜리게이팅필터프록시. 디스패처 서블릿처럼 미리 약속된 요청들을 가로채어 필터에게 보내준다. -->
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<!-- url-pattern을 *.do 등의 임의의 주소로 변경하지 마십시오. 스프링 시큐리티엔 *.do를 쓰지 않는 파일들이 다수 존재합니다. -->
		<!-- 이미지, CSS파일 같이 스프링 시큐리티가 필요없는 접근에 대해선 따로 지정할 수 있습니다. 해당 설정은 spring-security.xml에서 볼 수 있습니다. -->
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
