@CHARSET "UTF-8";

#contents{
	margin: 0 auto;
	width: 1280px;
}

#box{
	float: left;
	width: 900px;
}

.data_box{
	display: inline-block;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.title{
	background-color: #04BCD4;
	text-align: center;
	border-radius: 8px;
	padding: 5px;
	margin-bottom: 10px;
}

.title_font{
	color: white;
	font-size: 1.4em;
	font-weight: bold;
}

#data_auth{
	box-sizing: border-box;
}

#authFormTable{
	width: 100%;
	border: 1px dashed #0be1dc;
}

#authFormTable tr{
	background-color: #e9e9e9;
}

#authFormTable tr th{
	width: 15%;
	height: 40px;
}

#authFormTable tr td{
	width: 85%;
	height: 40px;
}

#authFormTable tr td input{
	width: 100%;
	height: 100%;
	padding-left: 10px;
	box-sizing: border-box;
}

#authFormTable tr td select{
	width: 100%;
	height: 100%;
	padding-left: 10px;
	box-sizing: border-box;
}