@CHARSET "UTF-8";

#contents{
	margin: 0 auto;
	width: 1280px;
}

#box{
	float: left;
	width: 900px;
}

.data_box{
	display: inline-block;
	float: left;
	width: 48%;
	margin: 5px;
}

.title{
	background-color: #04BCD4;
	text-align: center;
	border-radius: 8px;
	padding: 5px;
	margin-bottom: 10px;
}

.title_font{
	color: white;
	font-size: 1.4em;
	font-weight: bold;
}